<div class="eclass-grid-container">
    <div class="eclass-header">
        <div class="header-item header-description">
            <div class="box-content">
                <span>This page is for search e-class system tables.</span>
            </div>
        </div>
        <div class="header-item import-csv-button">
            <div class="box-content">
                <button>Import CSV file</button>
            </div>
        </div>
    </div>
    <div class="eclass-menu">
        <div class="search-box">
            <app-search-box></app-search-box>
        </div>
        <div class="tree-box">
            <app-tree-box></app-tree-box>
        </div>
    </div>
    <div class="eclass-main">
        <app-table-box></app-table-box>
    </div>
    <!--    <div class="eclass-footer">Footer</div>-->
</div>