.eclass-header {
    grid-area: header;
    
    .header-item {
        display: inline-block;
    }
    
    .header-description {
        width: 70%;
        min-width: 400px;
        text-align: left;
    }
    
    .import-csv-button {
        width: 30%;
        min-width: 100px;
    }
}

.eclass-search {
    grid-area: search;
}

.eclass-tree {
    grid-area: tree;
}

.eclass-main {
    grid-area: main;
    height: 700px;
    overflow: auto;
}

.eclass-footer {
    grid-area: footer;
}

.eclass-grid-container {
    display: grid;
    grid-template-areas:
    'header header  header  header  header  header'
    'search search  search  search  search  search'
    'tree   main    main    main    main    main'
    //'footer footer footer footer footer footer';
  ;
    gap: 10px;
    //background-color: #2196F3;
    padding: 10px;
}

.eclass-grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

.box-content {
    padding: 10px;
}

