.eclass-header {
    grid-area: header;
    max-height: 100px;
    background-color: #1976d2 !important;
    color: white !important;
    padding: 0 !important;
    
    .header-item {
        display: inline-block;
    }
    
    .header-description {
        width: 70%;
        min-width: 400px;
        text-align: left;
    }
    
    .import-csv-button {
        width: 30%;
        min-width: 100px;
    }
}

.eclass-search {
    grid-area: search;
}

.eclass-tree {
    grid-area: tree;
    padding: 0 20px !important;
    height: 600px;
    overflow-y: auto;
    min-width: 100px;
    background-color: #fafafa !important;
}

.eclass-main {
    grid-area: main;
    max-height: 200px;
    overflow: auto;
    padding: 10px 10px !important;
}

.eclass-footer {
    grid-area: footer;
}

.eclass-grid-container {
    display: grid;
    grid-template-areas:
    'header header  header  header  header header'
    'tree search  search  search  search search'
    'tree   main    main    main    main main'
    //'footer footer footer footer footer footer';
  ;
    gap: 10px;
    //background-color: #2196F3;
    //padding: 10px;
}

.eclass-grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

.box-content {
    padding: 10px;
}

.header-title {
    font-size: 25px;
    line-height: 30px;
}

//::-webkit-scrollbar {
//    width: 0.2em;
//    height: 0.2em !important;
//}
//::-webkit-scrollbar-button {
//    background: black;
//}
//::-webkit-scrollbar-track-piece {
//    background: #eee;
//}
//::-webkit-scrollbar-thumb {
//    background: #888;
//}
