<mat-form-field appearance="fill" class="block">
    <mat-label>{{type | titlecase}} Field</mat-label>
    <mat-select [(ngModel)]="selectedField" name="field" (ngModelChange)="emitSelectedField($event)">
        <mat-option [value]="allField">All Fields</mat-option>
        <mat-option *ngFor="let field of fields" [value]="field">
            {{field.col}}
        </mat-option>
    </mat-select>
</mat-form-field>
<ng-container *ngIf="selectedField.type == ft.String">
    <mat-form-field appearance="fill" class="block">
        <mat-label>Search in {{selectedField.col}}</mat-label>
        <input matInput placeholder="Search in all fields as text" value="" [(ngModel)]="q" (change)="emitSelectedField($event)">
    </mat-form-field>
</ng-container>
<ng-container *ngIf="selectedField.type == ft.Number">
    <mat-form-field appearance="fill" class="block">
        <mat-label>Search in {{selectedField.col}}</mat-label>
        <input type="number" matInput placeholder="" [(ngModel)]="q" (change)="emitSelectedField($event)">
    </mat-form-field>
</ng-container>
<ng-container *ngIf="selectedField.type == ft.Date">
    <mat-form-field appearance="fill" class="block">
        <mat-label>Search in {{selectedField.col}}</mat-label>
        <input type="date" matInput placeholder="" (change)="emitSelectedField($event)">
    </mat-form-field>
</ng-container>