.table-tree-invisible {
    display: none;
}

.table-tree ul,
.table-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.table-tree .mat-nested-tree-node div[role=group] {
    padding-left: 20px;
}

.table-tree div[role=group] > .mat-tree-node {
    padding-left: 20px;
    min-height: 35px;
}

.title-box {
    font-size: 20px;
    color: grey;
    padding: 20px 0;
    text-align: left;
}

.tree-node-label {
    text-align: left;
    cursor: pointer;
}

.nested-tree-node-label {
    text-align: left;
    cursor: pointer;
}

.background-highlight {
    color: #1669bb;
}

.tree-list {
    background-color: #fafafa;
}