.title {
    
}

.search-textbox {
    width: 100%;
}

.search-checkbox {
    .checkbox-box {
        display: inline-block;
        margin: 5px 10px;
        font-size: 14px;
        
        .checkbox {
            
        }
        
        .checkbox-label {
            
        }
    }
}