/**
E-Class page box sizes
 */
$header-height: 64px;
$tree-width: 400px;
$sidenav-width: 400px;
$search-height: 230px;
$table-height-min: 300px;

/**
Color pallet
 */
$background-grey: #fafafa;
$border-color: #DBDBDB;