<div class="table-title">
    {{eclassService.tableTitle}}
</div>
<div class="table mat-elevation-z8">
    <table mat-table [dataSource]="eclassService.tableData" class="mat-elevation-z8">
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        <ng-container matColumnDef="property">
            <th mat-header-cell *matHeaderCellDef> property </th>
            <td mat-cell *matCellDef="let element"> {{element.property}} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> unit </th>
            <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="eclassService.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: eclassService.displayedColumns;"></tr>
    </table>
<!--    <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
<!--                   showFirstLastButtons-->
<!--                   aria-label="Select page of periodic elements">-->
<!--    </mat-paginator>-->
</div>